body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.orange-color{
    color: orange;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 3em;
}

.flex {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.hire-btn {
    text-decoration: none;
    background: linear-gradient(90deg, orange, pink);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
}

.hero {
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;
}

.dream {
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin: 0 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px 40px;
    border-radius: 10px;
    border-left: 10px solid salmon;
}

footer p {
    text-align: center;
}